.button-container {
    height: 150px;
    display: flex;
}

.number-button {
    Height: 95px;
    width: 115px;
    background: white;
}

.three-quarter-buttons {
    width: 345px;
    height: 90px;
}

.red-buttons {
    background: rgba(255, 0, 0, 0.555);
    color: white;
    text-align: center;
}